.addButtonSection{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:4%;
}
.cardSection{
    background-color:#F8F8F8;
    padding:10%;
}
.checked {
    color: #FED80C;
}
.orangeButton {
    background-color: #F1916B;
    color:#ffffff;
    font-size:14px;
}
.whiteButton{
    color:#ffffff;
}
.grayButton{
    background-color: #898989;
    color:#ffffff;
    font-size:14px;
}
.imgCol{
    display:flex;
    flex: 33%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap:4%;
    align-items: center;

}
.cardBg{
    flex-direction: row;
    flex-wrap: wrap;
    margin:6px;
    /* padding:3% 3% 5% 3%; */
    /* background-color: rgba(252, 250, 250,0.8); */
    background-color: #ffffff;
    /* opacity:80%; */
    border-radius:8px;
    transition: 0.3s;
    /* height:20vh; */
    /* width:20%; */
}
.imgBg:hover{
    cursor:pointer;
    background-color: rgba(252, 250, 250,0.8);
    transform: scale(1.05);
}
.title{
    display:flex;
    justify-content: space-between;
    padding:3px;
}
.wishListImg .iconify{
    font-size:25px;
}
.imgStyle{
    height:150px;
    width:250px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;
}
.wishListImg .text,.wishListImg .iconify{
margin-top: 5px;
color:424242;
font-weight:400;
/* font-size:18px; */
}
.wishListImg .itemList{
color:#939393;
font-size:16px;
}
.desc{
    display:flex;
    align-items:center;
    justify-content: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],[type=email], select, textarea {
    width: 50%; /* Full width */
    padding: 8px; /* Some padding */ 
    border: 1px solid #D1D4D8; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    background-color:inherit;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  /* Style the submit button with a specific background color etc */
input[type=submit] , .filledButton{
    background-color: #D1D4D8;
    color: #595959;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 1rem 0 rgba(224, 197, 196, 0.6);
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .imgCol {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .imgCol {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}