*{
    font-weight: 300;
}
.searchBar{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    gap:14vw;
    border:1px solid #9E9E9E;
    /* padding:3px 8px; */
    height:3.5vh;
    margin-top:15px;
    border-radius:4px;
    color:#9E9E9E;
    font-size:14px;
    background-color:#fdfdfd;

}
.orangeBg{
    padding:0.5rem 2rem;
    background-color: #F1916B;
}
.ad{
    display:flex;
    justify-content: center;
    height:4vh;
    align-items: center;
    background-color:#28324B;
    color:#ffffff;
}
.ad a{
    color:#ffffff;
}
.thirdSection{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap;

}
.mainHeader{
    display:flex;
    justify-content: space-around;
    height:7vh;
    align-items: center;
    /* background-color:#EBEBEB;  */
}
.newNav, .categories{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
    height:4vh;

    align-items: center;
    /* background-color:#646464;
    color:#ffffff; */
}
.navItem, .categoryItems{
    display:flex;
    justify-content: space-between;
}
.categories{
    height:7vh;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
}
.categoryItems{
    font-weight: 400;
}

a.nav-link{
    color: #212529;
    font-weight:400;
}
.iconify{
    margin-right:4px;

}
.navItem .iconify{
    font-size:22px;
}
.yellowLine{
    margin-left: 15%;
    margin-right: 15%;
    border:1px solid #FED80C;
    margin-top:3px;
    margin-bottom:3px;
}
.navItem a{
    color:inherit;
    text-decoration: none;
}
a:hover {
    color: #F39970;
}
.categoryItems a{
    text-decoration: none;
}
.active{
    border-bottom:2px solid #F39970;
}