.profileInfo{
    color:#28324B;
    font-weight:400;
}
button{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.giftCultureProbs p,.highlightedText, .demandSection{
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
}
.trendingQuizzes{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap;
}
.highlightedText p{
    background-color: #FEDB35;
    /* border-top:6px solid #FEDB35; */
    padding:4px 15px;

}
.highlightText p{
    /* background-color: #FEDB35; */
    border-top:6px solid #FEDB35;
    padding:4px 15px;

}
.trendingQuizHeading{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
}
.trendingQuizHeading a{
    color:#424242;
}
.trendingQuizzes{
    display:flex;
    justify-content: space-evenly;
}
.grayLine{
    margin: 10%;
    border:3px solid #000000;
}
.giftCultureProbs .text{
    display:flex;
    justify-content: center;
}
.beyondGifting{
    background-color: #FEDB35;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:5%;
}
.giftAndFlowersImg{
    right:2%;
    position: absolute;
    width:18%;
}
.checked {
    color: orange;
}
.imgCol{
    display:flex;
    flex: 33%;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap:4%;
    align-items: center;

}
.demandCol {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .imgCol {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    flex-wrap: wrap;
    }
    .demandCol{
    margin-bottom:4px;
    }
    .giftAndFlowersImg{
        display:none;
    }
}

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .imgCol {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}