.addButtonSection{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:4%;
}
.imageSection{
    background-color:#FED80C;
    padding:10%;
}
.imgCol{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap:4%;

    align-items: center;

}
.imgBg{
    display:flex;
    justify-content: space-between;

    flex-direction: row;
    padding:3% 3% 10% 3%;
    background-color: rgba(252, 250, 250,0.8);
    /* opacity:80%; */
    border-radius:4px;
    /* height:20vh;
    width:40vw; */
}